.foto-curso {
  max-width: 35%;
  height: auto;
}

.fondo-curso {
  background-color: #141414;
  border-radius: 2%;
}

.containerTitulo {
  background-color: #0e0d0d;
}

.titulo {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  transition: color 0.3s ease;
}

.card {
  background-color: #141414;
}

.titulo:hover {
  color: #198754;
}
