nav {
  background-color: black;
}

li {
  margin-right: 30px;
}

.foto-usuario {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

.search {
  width: 30vw;
}

.dropdown-toggle {
  cursor: pointer;
}

@media (max-width: 991px) {
  .search {
    display: none;
  }
}
