nav {
  background-color: black;
}

li {
  margin-right: 15px;
  cursor: pointer;
}

.foto-usuario {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

.search {
  width: 30vw;
}


@media (max-width: 1300px) {
  .search {
    display: none;
  }
}
