<nav *ngIf="!loading" class="navbar navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid py-1">
    <a class="navbar-brand" href="#">BrainBoost</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/cursos"
            >Cursos</a
          >
        </li>

        <!-- Categorias dropdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Categorias
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li *ngFor="let categoria of categorias">
              <a class="dropdown-item">
                {{ categoria.nombre | titlecase }}
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/cursos/crear"
            >Crear curso</a
          >
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Administracion
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li>
              <a class="dropdown-item"> Usuarios </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/mod/cursos"> Cursos </a>
            </li>
          </ul>
        </li>

        <li class="nav-item search">
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Buscar curso..."
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Buscar
            </button>
          </form>
        </li>
      </ul>
      <ul class="navbar-nav text-center">
        <li>
          <i routerLink="/carrito" class="bi bi-cart text-white"></i>
          <span class="badge badge-danger">{{ carrito }}</span>
        </li>
        <li class="nav-item dropdown">
          <span
            class="dropdown-toggle nav-link"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Hola, {{ usuario.nombre | titlecase }}
          </span>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li>
              <a
                class="dropdown-item"
                style="cursor: pointer"
                [routerLink]="['/perfil']"
                >Mi perfil</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                style="cursor: pointer"
                (click)="desconectarse()"
                >Cerrar sesión</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav text-center mx-2">
        <li class="nav-item">
          <img
            class="foto-usuario"
            [routerLink]="['/perfil']"
            [src]="'http://localhost:3001/imagen/' + usuario.fotografia"
          />
        </li>
      </ul>
    </div>
  </div>
</nav>
