<div class="container mt-5 main-content">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 fondoCarta">
      <form [formGroup]="formRegistrar" (ngSubmit)="registrar()">
        <div>
          <h2 class="text-center text-white">Crea tu cuenta</h2>
          <hr style="color: white" />
          <div class="text-center">
            <img
              class="circular"
              [src]="fotoPrevisualizar || '../../../assets/foto.png'"
            />
            <h5 class="mt-1 text-white text-start">Foto perfil</h5>
            <input
              class="form-control mb-3"
              type="file"
              accept="image/png, image/jpeg"
              (change)="cambiarFoto($event)"
            />
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12 form-group mb-3">
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Correo electronico"
                formControlName="email"
              />
              <span *ngIf="isValidField('email')" class="form-text mb-2">
                El correo debe ser en un formato valido. <br />
                {{ getFieldError("email") }}
              </span>
            </div>

            <div class="col-md-6 col-sm-12 form-group mb-3">
              <select class="form-select" formControlName="perfil">
                <option value="0">Seleccione el tipo de cuenta</option>
                <option
                  *ngFor="let perfil of perfilesUsuario"
                  [value]="perfil.nombre"
                >
                  {{ perfil.nombre | titlecase }}
                </option>
              </select>
              <span *ngIf="isValidField('perfil')" class="form-text mb-2">
                {{ getFieldError("perfil") }}
              </span>
            </div>

            <div class="col-md-6 col-sm-12 form-group mb-3">
              <input
                type="text"
                class="form-control"
                id="nombre"
                placeholder="Nombre completo"
                formControlName="nombre"
              />
              <span *ngIf="isValidField('nombre')" class="form-text mb-2">
                {{ getFieldError("nombre") }}
              </span>
            </div>

            <div class="col-md-6 col-sm-12 form-group mb-3">
              <input
                type="text"
                class="form-control"
                id="apellido"
                placeholder="Apellido completo"
                formControlName="apellido"
              />
              <span *ngIf="isValidField('apellido')" class="form-text mb-2">
                {{ getFieldError("apellido") }}
              </span>
            </div>

            <div class="col-md-6 col-sm-12 form-group mb-3">
              <input
                type="number"
                class="form-control"
                id="telefono"
                placeholder="Celular"
                formControlName="telefono"
              />
              <span *ngIf="isValidField('telefono')" class="form-text mb-2">
                {{ getFieldError("telefono") }} <br />
                Celular invalido.
              </span>
            </div>

            <div class="col-md-6 col-sm-12 form-group mb-3">
              <input
                type="text"
                class="form-control"
                id="pais"
                placeholder="País"
                formControlName="pais"
              />
              <span *ngIf="isValidField('pais')" class="form-text mb-2">
                {{ getFieldError("pais") }}
              </span>
            </div>

            <div class="col-md-6 col-sm-12 form-group mb-3">
              <input
                type="password"
                class="form-control"
                id="clave"
                placeholder="Contraseña"
                formControlName="clave"
              />
              <span class="form-text mb-2" *ngIf="isValidField('clave')">
                {{ getFieldError("clave") }}<br />
                La contraseña debe tener al menos 1 mayúscula, 1 minúscula, 1
                número y 1 carácter especial.
              </span>
            </div>

            <div class="col-md-6 col-sm-12 form-group mb-3">
              <input
                type="password"
                class="form-control"
                id="clave2"
                placeholder="Reingresa tu contraseña"
                formControlName="clave2"
              />
              <span class="form-text mb-2" *ngIf="isValidField('clave2')">
                Las contraseñas deben de ser iguales
              </span>
            </div>
          </div>

          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-outline-success">
              Registrarse
            </button>
          </div>
        </div>
      </form>
      <div class="mt-3 text-center">
        <p class="text-white">o</p>
        <p class="text-white">¿Ya tienes una cuenta?</p>

        <hr style="color: white" />

        <a class="aLinks" routerLink="/login">Inicia sesión</a>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
