<div class="container text-white mt-4">
  <div class="row p-3 justify-content-center">
    <div class="col-md-7">
      <h2 class="text-center">Crear curso</h2>
      <hr style="color: white;">
      <form [formGroup]="crearCursoForm" (ngSubmit)="postCurso()">
        <div>
          <div class="text-center mb-3">
            <img
              class="circular"
              [src]="fotoPrevisualizar || '../../../assets/foto.png'"
            />
            <h6 class="mt-1 text-white">Portada curso</h6>
            <input
              class="form-control"
              type="file"
              accept="image/png, image/jpeg"
              (change)="cambiarFoto($event)"
            />
          </div>
        </div>

        <div class="form-group mb-3">
          <label class="text-white" for="nombre">Nombre:</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            formControlName="nombre"
            placeholder="Ingrese su nombre"
          />
        </div>

        <div class="form-group mb-3">
          <label class="text-white" for="categoria">Categoria:</label>
          <select class="form-select" formControlName="categoria">
            <option value="0">Seleccione una opción</option>
            <option *ngFor="let categoria of categorias" [value]="categoria.id">
              {{ categoria.nombre | titlecase }}
            </option>
          </select>
        </div>

        <div class="form-group mb-3">
          <label class="text-white" for="precio">Precio:</label>
          <input
            type="number"
            class="form-control"
            id="precio"
            formControlName="precio"
            placeholder="Ingrese su precio"
          />
        </div>

        <div class="form-group mb-3">
          <label class="text-white" for="descripcion">Descripción:</label>
          <textarea
            name="descripcion"
            id="descripcion"
            class="form-control"
            placeholder="Ingrese una descripción adecuada a su curso"
            formControlName="descripcion"
          >
          </textarea>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <div class="col-md-6 d-grid gap-2 mt-3 mb-3">
            <button class="btn btn-outline-danger">Volver</button>
          </div>

          <div class="col-md-6 d-grid gap-2 mt-3 mb-3">
            <button type="submit" class="btn btn-outline-success">
              Crear
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
