.container {
  background-color: #141414;
}

.form-control:focus {
  box-shadow: none;
  border-color: #a3815a;
}

.labels {
  font-size: 23px;
  color: white;
}

.circular {
  width: 10rem;
  height: auto;
}

textarea {
  resize: none;
}
