<div *ngIf="!loading" class="container mt-5 main-content">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 fondoCarta">
      <div>
        <h2 class="text-center text-white">Mi perfil</h2>
        <hr style="color: white" />
        <div class="d-flex flex-column align-items-center text-center my-5">
          <img
            [src]="'http://localhost:3001/imagen/' + usuario.fotografia"
            class="circular"
          />
        </div>
        <ul class="list-group">
          <li class="list-group-item disabled" aria-disabled="true">
            Nombre completo: {{ usuario.nombre | titlecase }}
            {{ usuario.apellido | titlecase }}
          </li>
          <li class="list-group-item disabled" aria-disabled="true">
            Correo: {{ usuario.email }}
          </li>
          <li class="list-group-item disabled" aria-disabled="true">
            Telefono: {{ usuario.telefono }}
          </li>
          <li class="list-group-item disabled" aria-disabled="true">
            Pais: {{ usuario.pais }}
          </li>
        </ul>

        <div class="d-grid gap-2 my-3">
          <button
            routerLink="/modificar-perfil"
            type="submit"
            class="btn btn-outline-success"
          >
            Modificar Perfil
          </button>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
</div>
