span {
  color: #27c77c;
}
.circular {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.fondoCarta {
  background-color: #141414;
  padding: 60px;
  border-radius: 2%;
}

.aLinks {
  font-size: 1.2em;
  transition: color 0.3s ease;
  color: #198754;
}

.aLinks:hover {
  color: #27c77c;
}

.main-content {
  min-height: calc(100% - 224px);
}

.infoUser {
  text-align: start;
}

ul {
  list-style: none;
}
h4 {
  font-size: 1.5em;
}
@media (max-width: 991px) {
  h4 {
    font-size: 1.4em;
  }
}
/* @media (max-width: 1200px) {
  .circular {
    text-align: center;
  }
} */
