<div class="container">
  <div class="titulo">
    <h2>Inicio de sesion</h2>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group mb-2">
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        placeholder="Email"
      />
      <span
        *ngIf="
        loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']
      "
      >
        Este campo es requerido
      </span>
    </div>
    <div class="form-group mb-2">
      <input
        formControlName="clave"
        type="password"
        class="form-control"
        id="clave"
        placeholder="Contraseña"
      />

      <span
        *ngIf="
        loginForm.get('clave')?.touched && loginForm.get('clave')?.errors?.['required']
      "
      >
        Este campo es requerido
      </span>
    </div>
    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
  </form>
  <div class="login-link">
    <a href="#">¿Olvidaste tu contraseña?</a>
  </div>
</div>
