<div *ngIf="!loading" class="container my-4">
  <div class="row">
    <div class="col-12 containerTitulo my-4">
      <div class="text-center py-3">
        <a class="titulo"
          >Estos son tus cursos, {{ usuario.nombre | titlecase }}.
        </a>
      </div>
    </div>

    <div *ngFor="let curso of cursos" class="col-md-4">
      <div class="card mb-3">
        <img
          class="img-curso"
          [src]="'http://localhost:3001/imagen/' + curso.foto"
          [alt]="curso.nombre"
          routerLink="/cursos/curso/{{ curso.id }}"
        />
        <!-- TITULO -->
        <div class="text-start text-white m-2">
          <h5>{{ curso.nombre }}</h5>
        </div>

        <div class="text-white mx-2">
          <small
            >{{ curso.instructor.usuario.nombre | titlecase }}
            {{ curso.instructor.usuario.apellido | titlecase }}</small
          >
          <br />
          <small class="text-warning">
            {{ curso.instructor.calificacion }} &star; &star; &star; &star;
            &star;</small
          >
          <br />
          <h5 class="fw-bold mt-2">
            {{ curso.precio | currency : "CLP" : "symbol" : "1.0" }}
          </h5>
        </div>

        <div class="row p-2">
          <div class="col-md-12 mb-1">
            <div class="d-grid gap-2">
              <button
                (click)="cambiarEstadoCurso(curso.id)"
                class="btn btn-outline-{{ curso.estado === 1 ? 'danger' : 'success' }}"
                type="submit"
              >
                {{ curso.estado === 1 ? 'Ocultar curso' : 'Hacer público el curso' }}
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
