<!-- Carrousel -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <div
        id="carouselExampleAutoplaying"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://images.unsplash.com/photo-1516116216624-53e697fedbea?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cHJvZ3JhbW1pbmd8ZW58MHx8MHx8fDA%3D&w=1000&q=80"
              class="d-block w-100 img-carousel"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://s3-ap-southeast-2.amazonaws.com/ish-oncourse-scc/03347c2d-6921-4017-b6f3-ca1833bd2634"
              class="d-block w-100 img-carousel"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://e0.pxfuel.com/wallpapers/825/260/desktop-wallpaper-gym-google-search.jpg"
              class="d-block w-100 img-carousel"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <div class="col-12 containerTitulo my-4">
    <div class="text-center py-3">
      <a class="titulo">Gran variedad de cursos</a>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let curso of cursos" class="col-md-4">
      <div class="card mb-3">
        <img
          class="img-curso"
          [src]="'http://localhost:3001/imagen/' + curso.foto"
          [alt]="curso.nombre"
        />
        <!-- TITULO -->
        <div class="text-start text-white m-2">
          <h5>{{ curso.nombre }}</h5>
        </div>

        <div class="text-white mx-2">
          <small
            >{{ curso.instructor.usuario.nombre }}
            {{ curso.instructor.usuario.apellido }}</small
          >
          <br />
          <small class="text-warning">
            {{ curso.instructor.calificacion }}
            <i class="bi bi-star-fill me-1"></i>
            <i class="bi bi-star-fill me-1"></i>
            <i class="bi bi-star-fill me-1"></i>
            <i class="bi bi-star-fill me-1"></i>
            <i class="bi bi-star-fill me-1"></i>
          </small>
          <br />
          <h5 class="fw-bold mt-2">
            {{ curso.precio | currency : "CLP" : "symbol" : "1.0" }}
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
