<div class="container main-content my-4">
  <div class="row">
    <div class="col-md-12 containerTitulo my-4">
      <div class="py-3 text-center">
        <a class="titulo">Todos los cursos</a>
      </div>
    </div>
    <div *ngFor="let curso of cursos" class="col-md-4">
      <div class="card mb-3" routerLink="/cursos/info-curso/{{ curso.id }}">
        <img
          class="img-curso"
          [src]="'http://localhost:3001/imagen/' + curso.foto"
          [alt]="curso.nombre"
        />
        <!-- TITULO -->
        <div class="text-start text-white m-2">
          <h5>{{ curso.nombre }}</h5>
        </div>

        <div class="text-white mx-2">
          <small
            >{{ curso.instructor.usuario.nombre }}
            {{ curso.instructor.usuario.apellido }}</small
          >
          <br />
          <small class="text-warning">
            {{ curso.instructor.calificacion }} &star; &star; &star; &star;
            &star;</small
          >
          <br />
          <h5 class="fw-bold mt-2">
            {{ curso.precio | currency : "CLP" : "symbol" : "1.0" }}
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
